/* Container for the whole resume page */
.resume-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 10px;
  }
  
  .section-title {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1rem;
    color: white;
    margin-bottom: 20px;
  }
  
  .download-link {
    display: inline-block;
    background-color: #ff7f50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .download-link:hover {
    background-color: #0056b3;
    color: white;
  }
  
  /* Style the container for the button groups */
  .button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  /* Button style */
  .tech-button {
    background-color: #ff7f50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .tech-button:hover {
    background-color: #0056b3;
  }
  
  .tech-button:focus {
    outline: none;
  }
  
  @media (max-width: 600px) {
    .button-container {
      flex-direction: column;
      align-items: center;
    }
  }
  